.ezs-navbar {
  display: flex;
  list-style: none;
  height: 100%;
  padding: 0;
  margin: 0;
  > li {
    padding-right: 0.25rem;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    &:last-child {
      padding-right: 0;
    }
    > a {
      text-decoration: none;
      padding: 0.65rem 1.1rem;
      display: block;
      color: #6c7293;
      font-weight: 500;
      border-radius: 4px;
      transition: all 0.3s ease;
      white-space: nowrap;
      &.active,
      &:hover {
        background-color: rgba(77, 89, 149, 0.06);
        color: #3699ff;
      }
      &:focus-visible {
        outline: none !important;
      }
      i.icon {
        padding-right: 5px;
        display: none;
        @media (min-width: 1350px) {
          display: inline-block;
        }
      }
      i.icon-down {
        padding-left: 7px;
        font-size: 11px;
      }
    }
    &:hover {
      > a {
        background-color: rgba(77, 89, 149, 0.06);
        color: #3699ff;
      }
      .ezs-navbar__sub {
        display: block;
        -webkit-animation: header-menu-submenu-fade-in 0.3s ease 1,
          header-menu-submenu-move-down 0.3s ease-out 1;
        animation: header-menu-submenu-fade-in 0.3s ease 1,
          header-menu-submenu-move-down 0.3s ease-out 1;
      }
    }
    .ezs-navbar__sub {
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #fff;
      z-index: 98;
      box-shadow: 0 15px 50px 0 rgb(82 63 105 / 15%);
      border-radius: 4px;
      width: 255px;
      padding: 15px 0;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-transform-style: preserve-3d;
      display: none;
      &.only-right {
        right: 0;
        left: auto;
      }
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          a {
            padding: 10px 25px;
            display: block;
            text-decoration: none;
            color: #3f4254;
            transition: all 0.3s ease;
            &:hover,
            &.active {
              background-color: #f3f6f9;
              color: #3699ff;
            }
          }
        }
      }
    }
  }
}

.ezs-navbars-mobile {
  .ezs-navbar-mobile {
    position: fixed;
    z-index: 1001;
    background: #fff;
    top: 0;
    left: 0;
    max-width: 300px;
    width: 100%;
    height: 100vh;
    padding: 1rem 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    .ezs-navbars {
      list-style: none;
      margin: 0;
      padding: 15px 0;
      > li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        float: none;
        padding: 0;
        position: relative;
        &:hover {
          > a {
            background-color: #f3f6f9;
            i.icon,
            span {
              color: #3699ff;
            }
            ~ .btn-down {
              i {
                color: #3699ff;
              }
            }
          }
        }
        > a {
          cursor: pointer;
          min-height: 44px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-flex: 1;
          -ms-flex-positive: 1;
          flex-grow: 1;
          -webkit-box-align: stretch;
          -ms-flex-align: stretch;
          align-items: stretch;
          margin: 0;
          padding: 9px 25px;
          text-decoration: none;
          position: relative;
          outline: none;
          &:hover,
          &.active {
            background-color: #f3f6f9;
            i.icon,
            span {
              color: #3699ff;
            }
            ~ .btn-down {
              i {
                color: #3699ff;
              }
            }
          }
          span {
            color: #3f4254;
            font-weight: 400;
            font-size: 1rem;
            text-transform: initial;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            padding: 0;
          }
          i.icon {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 35px;
            flex: 0 0 35px;
            font-size: 1.1rem;
            color: #b5b5c3;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            line-height: 0;
          }
        }
        .btn-down {
          position: absolute;
          top: 0;
          right: 5px;
          width: 44px;
          height: 44px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          i {
            color: #b5b5c3;
            font-size: 11px;
            transform: rotate(-90deg);
            transition: all 0.3s ease;
          }
        }
        &.menu-item-open {
          .btn-down {
            i {
              transform: rotate(0deg);
            }
          }
          > a {
            background-color: #f3f6f9;
            i.icon,
            span {
              color: #3699ff;
            }
            ~ .btn-down {
              i {
                color: #3699ff;
              }
            }
          }
          .ezs-navbar__sub {
            display: block;
            animation: fade-in 0.6s;
          }
        }
      }
      .ezs-navbar__sub {
        display: none;
        animation: fade-out 1s;
        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          li {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-flex: 1;
            -ms-flex-positive: 1;
            flex-grow: 1;
            float: none;
            padding: 0;
            a {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-flex: 1;
              -ms-flex-positive: 1;
              flex-grow: 1;
              -webkit-box-align: stretch;
              -ms-flex-align: stretch;
              align-items: stretch;
              margin: 0;
              padding: 0 25px;
              padding-left: 40px;
              text-decoration: none;
              position: relative;
              outline: none;
              cursor: pointer;
              min-height: 40px;
              &:hover,
              &.active {
                background-color: #f3f6f9;
                i {
                  span {
                    color: #3699ff;
                  }
                }
                .menu-text {
                  color: #3699ff;
                }
              }
              .menu-bullet-dot {
                vertical-align: middle;
                text-align: left;
                -webkit-box-flex: 0;
                -ms-flex: 0 0 15px;
                flex: 0 0 15px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                line-height: 0;
                span {
                  background-color: #b5b5c3;
                  width: 4px;
                  height: 4px;
                  border-radius: 100%;
                  vertical-align: middle;
                  display: inline-block;
                }
              }
              .menu-text {
                color: #3f4254;
                font-weight: 400;
                font-size: 1rem;
                text-transform: initial;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-flex: 1;
                -ms-flex-positive: 1;
                flex-grow: 1;
                padding: 0;
              }
            }
          }
        }
      }
    }
  }
  .navbar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.1);
    -webkit-animation: animation-offcanvas-fade-in 0.6s ease 1;
    animation: animation-offcanvas-fade-in 0.6s ease 1;
    display: none;
  }
  &.show {
    .ezs-navbar-mobile {
      box-shadow: 0 1px 9px -3px rgb(0 0 0 / 5%);
      transform: none;
      transition: transform 0.3s ease-in-out;
    }
    .navbar-overlay {
      display: block;
    }
  }
}

@keyframes animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes header-menu-submenu-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes header-menu-submenu-move-down {
  0% {
    margin-top: 10px;
  }
  100% {
    margin-top: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
